.product-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
    padding: 20px;
}

.product-card{
    background-color: #fff;
    border: 1px solid#ddd;
    border-radius: 12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
    transition:transform 0.2s;
}

.product-card:hover{
    transform:scale(1.05);
}

.product-img{
    width:100px;
    height:180px;
    object-fit: cover;
    border-radius: 8px;
}
.price{
    font-weight: bold;
    color:darkbrown
    ;
}
.desc{
    font-size: small ;
    color: #666;
}