.container{
    max-width:400px;
    margin-top: 20px;
    border:1px solid#ddd;
    background-color: beige;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 50px auto;
}
.container h2{
    font-display: block;
    color:dimgray;
    text-align: center;
    margin-bottom: 20px;
}
.container label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.container input{
    width:100%;
    padding:10px;
    border: 1px solid#333;
    border-radius: 5px;
    font-size: medium;
    box-sizing: border-box;
}
.container button{
    margin-top: 20px;
    padding: 10px;
    position: relative;
    background-color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.container button:hover {
  background-color: #0056b3;
}

