.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd; /* Blue color */
    padding: 12px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Logo */
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Navigation buttons */
.navbar-buttons {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

/* Links */
.navbar-buttons li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-buttons li a:hover {
    color: #ffda79; /* Highlight on hover */
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: #ffda79;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #0d6efd;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    border-radius: 6px;
    z-index: 1;
}
/*links*/
.dropdown-content a{
    color: whitesmoke;
    padding: 10px;
    text-decoration: double;
    display: block;
}
/*show dropdown on hover*/
.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: red;
}
.Shopease-image{
    width:40px;
    height:40px;
    margin-right: 8px;
    vertical-align: middle;

}
.card-design{
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px,10px;
    border-radius: 5px;
    font-weight:bold;
}
.cart-design a{
  text-decoration:none ;
  background-color: #333;
}